*.tar.gz
*.zip
*.pdf
!developer_guide.pdf
*.ipynb
ssh.key
.ipynb_checkpoints/*

cpp-cgdk/build/*
# !cpp-cgdk/build/MyStrategy
cpp-cgdk/CMakeFiles/*
cpp-cgdk/versions/*
!cpp-cgdk/versions/CesistaStrategy_v47

codeball2018-linux/logs/*
benchmark_results.txt
