*.tar.gz
*.zip
*.pdf
*.ipynb
ssh.key
.ipynb_checkpoints/*
cpp-cgdk/build/*
!cpp-cgdk/build/MyStrategy
cpp-cgdk/versions/*_files
codeball2018-linux/logs/*
python.3-cgdk/*
repeater/*
MyStrategy_temp.cpp
